.categories {
    // position: relative;
    padding-top: rem(648);
    .about-leaf-3{
        position: absolute;
        right: 168px;
        z-index: -1;

        @media (max-width: 1450px) {
            display: none;
        }
    }

    
    @include xs {
        padding-top: rem(558);
    }

    @media (max-width: 1050px) {
        padding-top: rem(678);
    }
    
    @include lg {
        padding-top: rem(688);
    }
    
    @media (max-width: 800px) {
        padding-top: rem(718);
    }
    @include md{
        padding-top: rem(658);
    }
    @include sm {
        padding-top: rem(388);
    }

    .container {

        .section-title {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 600;
            font-size: rem(55);
            line-height: lh(55, 55);
            text-align: center;
            color: #151515;

            @include md {
                font-size: rem(45);
            }

            @include sm {
                font-size: rem(40);
            }

            @include xs {
                font-size: rem(36);
            }
        }

        .section-subtitle {
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 400;
            font-size: rem(21);
            line-height: lh(40, 21);
            text-align: center;
            color: #6F7478;
            padding: toEm(12, 21) 0 toEm(40, 21);

            @include md {
                font-size: rem(19);
            }

            @include sm {
                font-size: rem(17);
                padding-top: rem(30);
            }

            @include xs {
                font-size: rem(14);
            }
        }

        .categories-cards {
            width: 100%;
            display: grid;
            margin: 10px auto;
            grid-auto-flow: dense;

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 15px;

            @include lg {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
            }

            @include sm {
                grid-template-columns: repeat(1, 1fr);
            }

            .categories-card {
                width: 100%;
                min-height: 150px;
                height: 100%;
            }

            .categories-card:nth-child(1),
            .categories-card:nth-child(6),
            .categories-card:nth-child(7) {
                grid-column: span 1;
                grid-row: span 2;

                @include sm {
                    grid-row: span 1;

                }
            }

            .categories-card:nth-child(2),
            .categories-card:nth-child(8),
            .categories-card:nth-child(10) {
                grid-column: span 2;
                grid-row: span 1;

                @include sm {
                    grid-column: span 1;

                }
            }
        }
    }
}