.house-city {
    padding-top: rem(41);

    .container {

        .section-title {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 600;
            font-size: rem(55);
            line-height: lh(55, 55);
            text-align: center;
            color: #151515;

            @include md {
                font-size: rem(45);
            }

            @include sm {
                font-size: rem(40);
            }

            @include xs {
                font-size: rem(36);
            }
        }

        .section-subtitle {
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 400;
            font-size: rem(21);
            line-height: lh(40, 21);
            text-align: center;
            color: #6F7478;
            padding: toEm(12, 21) 0 toEm(40, 21);

            @include md {
                font-size: rem(19);
            }

            @include sm {
                font-size: rem(17);
            }

            @include xs {
                font-size: rem(14);
            }
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            align-items: stretch;

        }

    }

    .service-line {
        @include xs {
            transform: translateY(550px);
        }

        @include lg {
            transform: translateY(660px);
        }

        @media (max-width: 800px) {
            transform: translateY(710px);
        }

        @include md {
            transform: translateY(620px);
        }

        @include sm {
            transform: translateY(350px);

            @media (max-width: 455px) {
                transform: translateY(400px);
                margin-bottom: 40px;
            }

            @media (max-width: 400px) {
                transform: translateY(440px);
                margin-bottom: 60px;
            }
        }

    }
}