.main-reviews{
    padding-top: rem(40);

    .section-title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 600;
        font-size: rem(55);
        line-height: lh(55, 55);
        text-align: center;
        color: #151515;

        @include md {
            font-size: rem(45);
        }

        @include sm {
            font-size: rem(40);
        }

        @include xs {
            font-size: rem(36);
        }
    }
}